<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>LW7</title>
    <meta name = "viewport" content = "width=device-width, inital-scale = 1.0">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
</head>

<body>
    <nav id ="burger-menu" class="burger-menu-navigation-list
                            navigation-list
                            navigation-list_size_m
                            navigation-list_text-size_m">
                <div id ="burger-menu-close-button" class = "burger-menu-close-icon">
                    <div id ="panel1" class="burger-close-menu-line1">
    
                    </div>
                    <div id ="panel2" class="burger-close-menu-line2">
    
                    </div>
                </div>
                <ul class=" burger-menu-navigation-list__list navigation-list__non-bullet-list 
                               non-bullet-list">
                    {{ range .Header.NavigationList }}
                    <div>
                        <li class="non-bullet-list__list-item_non-enter">
                            <a href="" class="non-bullet-list__list-item_linked">{{.}}</a>
                        </li>
                    </div>
                    {{end}}
                </ul>
            </nav>
    <header class="header {{ .Header.BackgroundImage }}">
        <div class="header__panel panel">
            <div class="panel__main-phrase panel__main-phrase_main-page">
                <span>
                    {{ .Header.MainPhrase }}
                </span>
            </div>
            <nav class="panel__navigation-list 
                            navigation-list
                            navigation-list_size_m
                            navigation-list_text-size_m 
                            navigation-list_header">
                <ul class="navigation-list__non-bullet-list 
                               non-bullet-list">
                    {{ range .Header.NavigationList }}
                    <div>
                        <li class="non-bullet-list__list-item_non-enter">
                            <a href="" class="non-bullet-list__list-item_linked">{{.}}</a>
                        </li>
                    </div>
                    {{end}}
                </ul>
            </nav>
            <div id ="burger-menu-open-button" class = "burger-menu-open-icon">
                <div id ="panel1" class="burger-menu-line">

                </div>
                <div id ="panel2" class="burger-menu-line">

                </div>
                <div id ="panel3" class="burger-menu-line">

                </div>
            </div>
        </div>
        
        <div class="header__main-panel_main-page
                    main-panel">
            <div class="main-panel__title
                        main-panel__title_main-page">
                <h1>{{ .Header.Title}}</h1>
            </div>
            <div class="main-panel__content
                        main-panel__content_main-page">
                <p>{{ .Header.Subtitle}}</p>
            </div>
            <button class="main_panel_button button button_size_l">
                {{ .Header.ButtonContent}}
            </button>
        </div>
    </header>
    <div class="navigation-panel">
        <nav class="navigation-panel_navigation-list 
                    navigation-list
                    navigation-list_size_l
                    navigation-list_text-size_l">
            <ul class="navigation-list_non-bullet-list 
                       non-bullet-list
                       non-bullet-list_type_navigation-panel">
                <div class = "navigation-list-triple">
                    <li class="non-bullet-list__list-item_non-enter">
                        <a href="" class="non-bullet-list__list-item_linked ">Nature</a>
                    </li>
                    <li class="non-bullet-list__list-item_non-enter">
                        <a href="" class="non-bullet-list__list-item_linked ">Photography</a>
                    </li>
                    <li class="non-bullet-list__list-item_non-enter">
                        <a href="" class="non-bullet-list__list-item_linked ">Relaxation</a>
                    </li>
                </div>
                <div class = "navigation-list-triple">
                    <li class="non-bullet-list__list-item_non-enter">
                        <a href="" class="non-bullet-list__list-item_linked ">Vacation</a>
                    </li>
                    <li class="non-bullet-list__list-item_non-enter">
                        <a href="" class="non-bullet-list__list-item_linked ">Travel</a>
                    </li>
                    <li class="non-bullet-list__list-item_non-enter">
                        <a href="" class="non-bullet-list__list-item_linked ">Adventure</a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
    <main class="main-content">
        <section class="main-content__featured-posts-area featured-posts-area">
            <div class="featured-posts-area__heading heading">
                <div>
                    <h2>Featured Posts</h2>
                </div>
                <div class="heading__decotative-line">&nbsp;</div>
            </div>
            <div class="featured-posts-area_featured-posts featured-posts">
                {{ range .Posts}}
                {{ if .Featured }}
                <a class="post-link" href="{{ .PostURL }}">
                    <article class="featured-posts__post 
                                        post 
                                        post_type_featured
                                        {{ .BackgroundImgModifier }}">

                        <div class="post__featured-post-content-area 
                                        post-content-area">
                            <div class="post-content-area__tag-area tag-area tag-area_type_featured">
                                {{ range .Tags}}
                                <div class="tag-area_tag tag"><button class="tag__button button button_size_s">
                                        {{ . }}</button>
                                </div>
                                {{ end}}
                                &nbsp;
                            </div>
                            <div class="post-content-area_post-content 
                                            post-content
                                            post-content_type_featured">
                                <div class="post-content__article-heading
                                                post-content__article-heading_type_featured">
                                    <h3>{{ .Title }}</h3>
                                </div>
                                <div class="post-content__article-content
                                                post-content__article-content_type_featured">
                                    <p>{{ .Subtitle }}</p>
                                </div>
                                <div class="post-content__article-footer article-footer">
                                    <div class="article-footer__icon-place 
                                                    {{ .AuthorImg}}">
                                        &nbsp;
                                    </div>
                                    <div class="article-footer__author-info 
                                                    author-info">
                                        <div class="author-info__author-name
                                                        author-info__author-name_type_featured">
                                            <span class=>{{ .Author }}</span>
                                        </div>
                                        <div class="author-info__publication-data
                                                        author-info__publication-data_type_featured">
                                            <span>{{ .PublishDate }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </article>
                </a>
                {{end}}
                {{end}}
            </div>
        </section>
        <section class="main-content__most-resent-posts-area most-resent-posts-area">
            <div class="most-resent-posts-area__heading heading">
                <div>
                    <h2>Most Recent</h2>
                </div>
                <div class="heading__decotative-line">&nbsp;</div>
            </div>
            <div class="most-resent-posts-area__most-resent-posts most-resent-posts">
                {{ range .Posts }}
                {{ if not .Featured }}
                <a class="post-link" href="{{ .PostURL }}">
                    <article class="most-resent-posts__post 
                                        post 
                                        post_type_most-resent">
                        <div class="post__post-content-area 
                                        post-content-area">
                            <div class="post-content-area_img-area img-area">
                                {{ if eq .HeroImg2Name "" }}
                                <img class="post-content-img" src="{{ .BackgroundImgModifier }}" alt="img">
                                {{ else }}
                                <img class="post-content-img" src="{{ .HeroImg2Name }}" alt="img">
                                {{ end }}
                            </div>
                            <div class="post-content-area_post-content 
                                            post-content
                                            post-content_type_most-resent">
                                <div class="post-content__article-heading 
                                            post-content__article-heading_type_most-resent">
                                    <h3>{{ .Title }}</h3>
                                </div>
                                <div class="post-content__article-content
                                            post-content__article-content_type_most-resent">
                                    <p>{{ .Subtitle }}
                                    </p>
                                </div>
                                <div class="post-content__article-footer 
                                            article-footer
                                            article-footer_type_most-resent">
                                    {{ if eq .AuthorImgPath ""}}
                                    <div class="article-footer__icon-place {{ .AuthorImg }}">
                                        {{ range .Tags}}
                                        <div class="tag-area_tag tag"><button class="tag__button button button_size_s">'
                                                {{ . }}</button>
                                        </div>
                                        {{ end }}
                                        &nbsp;
                                    </div>
                                    {{ else }}
                                    <div style="background-image: url({{.AuthorImgPath}});"
                                        class="article-footer__icon-place">
                                        {{ range .Tags}}
                                        <div class="tag-area_tag tag"><button class="tag__button button button_size_s">'
                                                {{ . }}</button>
                                        </div>
                                        {{ end }}
                                        &nbsp;
                                    </div>
                                    {{end}}
                                    <div class="article-footer__author-info author-info">
                                        <div>
                                            <span class="author-info__author-name 
                                                    author-info__author-name_type_most-resent">{{ .Author }}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="author-info__publication-data
                                                            author-info__publication-data_type_most-resent">{{
                                                .PublishDate
                                                }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </article>
                </a>
                {{end}}
                {{ end }}
            </div>
        </section>
    </main>
    <footer class="footer
                   {{ .Footer.BackgroundImage }}">
        <div class="footer__form-area form-area">
            <div class="form-area__form-header form-title">
                <div class="form-title__heading 
                              heading 
                              heading_type_form">
                    <h2>{{ .Footer.Form.Title }}</h2>
                    <div class="heading__decotative-line">&nbsp;</div>
                </div>
            </div>
            <div class="form-area__form form">
                <form class="form__input input" action="#" method="post" target="_blank">
                    <input class="form__input-text input-text" placeholder="{{ .Footer.Form.InputFieldPlaceholder }}"
                        type="text" required>
                    <input class="form__input-submit-button input-submit-button"
                        value="{{ .Footer.Form.ButtonContent }}" type="submit">
                </form>
            </div>
        </div>
        <div class="footer__footer-panel footer-panel">
            <div class="footer-panel__panel panel">
                <div class="panel__main-phrase
                        panel__main-phrase_main-page">
                    <span>{{ .Footer.MainPhrase }}</span>
                </div>
                <nav class="panel__navigation-list 
                            navigation-list
                            navigation-list_size_sm
                            navigation-list_text-size_sm">
                    <ul class="navigation-list__non-bullet-list 
                               non-bullet-list
                               navigation-list_footer">
                        {{ range .Footer.NavigationList }}
                        <div>
                            <li class="non-bullet-list__list-item_non-enter">
                                <a href="" class="non-bullet-list__list-item_linked">{{ .}}</a>
                            </li>
                        </div>
                        {{end}}
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    <script src="../static/script//burger.js" type="text/javascript"></script>
</body>

</html>