<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LW7</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header__panel panel">
            <a class="post-link" href = "../home">
                <div class="panel__main-phrase panel__main-phrase_post-page">
                    <span>{{ .Header.MainPhrase }}</span>
                </div>
            </a>
            <nav class="panel__navigation-list 
                            navigation-list
                            navigation-list_size_m
                            navigation-list_text-size_m 
                            navigation-list_post-page">
                <ul class="navigation-list__non-bullet-list 
                               non-bullet-list">
                    {{ range .Header.NavigationList}}
                    <div>
                        <li class="non-bullet-list__list-item_non-enter">
                            <a href="" class="non-bullet-list__list-item_linked">{{.}}</a>
                        </li>
                    </div>
                    {{end}}
                </ul>
            </nav>
        </div>
        <div class="header__main-panel_post-page main-panel">
            <div class="main-panel__title
                        main-panel__title_post-page">
                <h1>{{ .Post.Title }}</h1>
            </div>
            <div class="main-panel__content
                        main-panel__content_post-page">
                <p>{{ .Post.Subtitle}}</p>
            </div>
        </div>
    </header>
    <main class="main-content">
        <div class="main-content__main-img main-img">
            <img src="../{{ .Post.MainImg }}" class="main-img__img" alt="img">
        </div>
        <div class="main-content__post-content post-content post-content_type_post-page">
            <div class="post-content__article-content post-content__article-content_type_post-page">
                <p>
                    {{ .Post.Content }}
                </p>
            </div>
        </div>
    </main>
    <footer class="footer
    {{ .Footer.BackgroundImage }}">
        <div class="footer__form-area form-area">
            <div class="form-area__form-header form-title">
                <div class="form-title__heading 
               heading 
               heading_type_form">
                    <h2>{{ .Footer.Form.Title }}</h2>
                    <div class="heading__decotative-line">&nbsp;</div>
                </div>
            </div>
            <div class="form-area__form form">
                <form class="form__input input" action="#" method="post" target="_blank">
                    <input class="form__input-text input-text" placeholder="{{ .Footer.Form.InputFieldPlaceholder }}"
                        type="text" required>
                    <input class="form__input-submit-button input-submit-button"
                        value="{{ .Footer.Form.ButtonContent }}" type="submit">
                </form>
            </div>
        </div>
        <div class="footer__footer-panel footer-panel">
            <div class="footer-panel__panel panel">
                <div class="panel__main-phrase
         panel__main-phrase_main-page">
                    <span>{{ .Footer.MainPhrase }}</span>
                </div>
                <nav class="panel__navigation-list 
             navigation-list
             navigation-list_size_sm
             navigation-list_text-size_sm">
                    <ul class="navigation-list__non-bullet-list 
                non-bullet-list">
                        {{ range .Footer.NavigationList }}
                        <div>
                            <li class="non-bullet-list__list-item_non-enter">
                                <a href="" class="non-bullet-list__list-item_linked">{{ .}}</a>
                            </li>
                        </div>
                        {{end}}
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</body>

</html>